@{
    Layout = "~/Views/Shared/_layoutadmin.cshtml";
}
<br /><br /><br />
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Thêm Sinh Viên</h5>
            <div class="card">
                <div class="card-body p-4">
                    <h1>Thêm Sinh Viên</h1>
                    <div class="container mt-5 px-2">
                        <form asp-action="admin_student_add" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="FullName" class="form-label">Họ và Tên</label>
                                <input type="text" id="FullName" name="FullName" class="form-control" placeholder="Nhập họ và tên" required>
                            </div>
                           
                            
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email</label>
                                <input type="email" id="Email" name="Email" class="form-control" placeholder="Nhập email" required>
                            </div>
                            <div class="mb-3">
                                <label for="Phone Number" class="form-label"Phone Number</label>
                                <input type="phone number" id="phone number" name="phone number" class="form-control" placeholder="Enter Phone Number" required>
                            </div>
                            <div class="mb-3">
                                <label for="Image" class="form-label">Ảnh</label>
                                <input type="file" id="Image" name="Image" class="form-control">
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-success m-1">Lưu</button>
                                <a asp-action="admin_student" class="btn btn-outline-secondary m-1">Quay lại</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
