@model Project3.Models.Feedbacks

@{
    Layout = "~/Views/Shared/_layoutadmin.cshtml";
}
<br /><br /><br />
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Feedback Details</h5>
            <div class="card">
                <div class="card-body p-4">
                    <h3>Subject: @Model.Subject</h3>
                    <br>
                    <h5>Name: @Model.Name</h5>
                    <br>
                    <h5>Email: @Model.Email</h5>
                    <br>
                    <h6>Message:</h6>
                    <p>@Model.Message</p>
                </div>
            </div>
            <div class="text-end">
                <a asp-controller="Admin" asp-action="admin_feedback" class="btn btn-right btn-outline-secondary m-1">Back</a>
            </div>
        </div>
    </div>
</div>
